<% if can? :read, @patient %>
  <%= @patient.user_id %>
  <h>Pathient</h>
  <%= current_user.phone_number %>
  <% if @patient.diagnose %>
    <%= @patient.diagnose %>
  <% end %>
  <%= render 'form' %>
<% end %>
<div id="show-doctors"></div>
